body{
	font-family: Microsoft JhengHei, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.nav a{
	color: #5a5a5a;
	font-size: 15px;
	line-height: 20px;	
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav .myname{
	font-family: proxima-nova, 'Proxima Nova - 500', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #dd3000;
}

.nav li{
	display: inline;
}

.nav li a{
	text-decoration: none;
	color: #3e4248;
}

.nav li a:hover{
	color: #dd3000;
}
.nav .container{
	padding-top: 18px;
	padding-bottom: 14px;
}

.jumbotron{
	background:#181015 url(../imgs/bg.jpg) no-repeat;
	background-size: cover;
	height: 500px;
	text-align: center;
}

.jumbotron .container{
	position: relative;
	top: 80px;
}

.jumbotron h1{
	color: #fff;
	font-size: 48px;
	line-height: 52px;

	/*
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	*/
}

.jumbotron p{
	font-size: 20px;
	color: #fff;
	
}

.jumbotron a{
	font-size: 18px;
	color: blue;
}

.jumbotron img.img-circle{
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 9px solid rgba(0,0,0, 0.05);
	margin: 0 auto;
}

.jumbotron .btn { 
	margin-bottom:10px;

	}
.jumbotron .btn-default { 
	text-shadow: none; 
	background:transparent; 
	color:rgba(255,255,255,.5); 
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	background: transparent; }
.jumbotron .btn-default:hover, .jumbotron .btn-default:focus { 
	color:rgba(255,255,255,.8); 
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	background: transparent; }
.jumbotron .btn-default:active, .jumbotron .btn-default.active { 
	color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; 
	-moz-box-shadow:inset 0px 0px 0px 3px #fff; 
	box-shadow:inset 0px 0px 0px 3px #fff; 
	background: transparent; }


.mainarea{
	
}

.mainarea h3 {
	font-weight: bold;
	/*
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	*/	
}

.mainarea small{
	font-size: 14px;
}


.mainarea a {
	color: #00b0ff;
}

.mainarea a:hover {
	color: #dd3000;
}

.mainarea ul{
	margin-left: 0;
	padding-left: 0;
}

.mainarea li{
	list-style: none;
}

.mainarea .caption{
	text-align: center;
}

.mainarea .caption p{
	color: #747c81;
}

.mainarea .thumbnails img{
	padding-top: 20px;
	width: 180px;
}

.mainarea2{
	
}

.mainarea2 h3 {
	
	/*
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	*/
}

.mainarea2 small{
	font-size: 14px;
}

.mainarea2 a {
	color: #00b0ff;
}

.mainarea2 ul {
	margin-left: 0;
	padding-left: 0;
}

.mainarea2 li{
	list-style: none;
}

.mainarea4 .txtarea{
	width: 80%;
	height: 190px;
}

@media (max-width: 360px){
	.jumbotron .btn { 
		display:none;
	}
}