@charset 'UTF-8';
* {
	margin: 0;
	padding: 0;
	font-family: Microsoft JhengHei, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a{
	color: inherit;	
	text-decoration: none;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

body{
	background: #EFF0F5;	
	font-weight: 300;	
}

.header{
	position: fixed;
	width: 100%;
	background: #222;
	opacity: .95;
	z-index: 10;
}

.header .navbar-brand{
	font-weight: 900;
}

.header .navber{
	border: none;
}

.header .navbar-inverse{
	border:0;
	margin-bottom: 0;
}

.header #main-nav .nav a{
	text-transform: uppercase;
	/*
	color: #4848;
	*/
}

.header .navbar .navbar-inverse .navbar-header{
	margin:0;
	
}

.header .nav li{
	display: inline;
}


.jumbotron{
	background:#181015 url(../imgs/bg.jpg) no-repeat;
	background-size: cover;
	height: 550px;
	text-align: center;
}

.jumbotron .container{
	position: relative;
	top: 110px;
}

.jumbotron h1{
	font-family: Alice, Georgia, serif;
	color: #333333;
	font-size: 48px;
	line-height: 52px;
	font-weight: 400;

	/*
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	*/
}

.jumbotron p{
	font-size: 18px;
	color: #333;
	
}

.jumbotron a{
	font-size: 18px;
	color: blue;
}

.jumbotron img.img-circle{
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 9px solid rgba(0,0,0, 0.05);
	margin: 0 auto;
}

.jumbotron .btn { 
	margin-bottom:10px;

	}
.jumbotron .btn-default { 
	text-shadow: none; 
	background:transparent; 
	color:rgba(255,255,255,.5); 
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	background: transparent; }
.jumbotron .btn-default:hover, .jumbotron .btn-default:focus { 
	color:rgba(255,255,255,.8); 
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	background: transparent; }
.jumbotron .btn-default:active, .jumbotron .btn-default.active { 
	color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; 
	-moz-box-shadow:inset 0px 0px 0px 3px #fff; 
	box-shadow:inset 0px 0px 0px 3px #fff; 
	background: transparent; }


.mainarea{
	
}

.mainarea h3 {
	font-size: 36px;
 	font-size: 2.25rem;
 	font-weight: bold;
	/*
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	*/	
}

.mainarea small{
	font-size: 14px;
}


.mainarea a {
	color: #005FBD;
}

.mainarea a:hover {
	color: #B12C2C;
}

.mainarea ul{
	margin-left: 0;
	padding-left: 0;
}

.mainarea li{
	list-style: none;
}

.mainarea .caption{
	text-align: center;
}

.mainarea .caption p{
	color: #747c81;
}

.mainarea .thumbnails img{
	padding-top: 20px;
	width: 180px;
}


#skills{
	background-color: #F7F5F4;
}

.mainarea2 h3 {	
	/*
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	*/
}

.mainarea2 small{
	font-size: 14px;
}

.mainarea2 a {
	color: #00b0ff;
}

.mainarea2 ul {
	margin-left: 0;
	padding-left: 0;
}

.mainarea2 li{
	list-style: none;
}
.mainarea2 .thumbnails .thumbnail{
	text-align: center;
}

.mainarea2 .thumbnails .thumbnail img{
	width: 200px;
	padding: 20px;
}

.mainarea2 .thumbnails .thumbnail p{
	font-size: 16px;
	font-weight: bold;
	color:#0080FF;
}

#skills .container .row p{
	color: #333333;
}

#works{
	text-align: center;
}

#works a{
	color: #005FBD;
	text-decoration: none;

}

#works a:hover{
	color: #B12C2C;
}

#works .container h3{
	text-align: center;
	font-weight: bold;
}

#works .container .thumbnail img{
	width: 200px;
	height: 180px;
	padding: 10px;
}


.mainarea4 .txtarea{
	width: 80%;
	height: 190px;
}

#contact{
	background-color: #F7F5F4;
}

.section-title{
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 0 25px 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-title a{
  color: #333333;
}
.section-title span{
  display: inline-block;
  position: relative;
}
.section-title span:before,
.section-title span:after{
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 800%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before{
  right: 100%;
  margin-right: 25px;
}
.section-title span:after{
  left: 100%;
  margin-left: 25px;
}

/*footer*/
#footer{
	position: relative;
	overflow: hidden;
	padding: 6em 0 6em 0;
	background: #222222;
	color: #fff;
}

	#footer .fa.circled
	{
		background: #fff;
		color: #2b252c;
	}

	#footer header
	{
		text-align: center;
		cursor: default;
	}
	
	#footer h2,	#footer h3,	#footer h4,	#footer h5,	#footer h6	{
		color: #fff;
	}

	#footer .contact
	{
		text-align: center;
	}
	
		#footer .contact p
		{
			text-align: center;
			margin: 0 0 3em 0;
		}
	
	#footer .copyright
	{
		text-align: center;
		color: rgba(128,128,128,0.75);
		font-size: 0.8em;
		cursor: default;
	}

		#footer .copyright a
		{
			color: rgba(128,128,128,0.75);
			text-decoration: none;
		}

			#footer .copyright a:hover
			{
				color: rgba(212,212,212,0.85);
			}
#footer ul.icons
{
	position: relative;
	background: rgba(128,128,128,0.05);
	border-radius: 4em;
	display: inline-block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.25em;
	cursor: default;
}

	#footer ul.icons li
	{
		display: inline-block;
	}

		#footer ul.icons li a
		{
			display: inline-block;
			width: 2.5em;
			height: 2.5em;
			line-height: 2.5em;
			text-align: center;
			border-radius: 100%;
			border: 0;
			color: inherit;
		}
		
			#footer ul.icons li a:hover
			{
				
			}

#footer ul.menu
{
	height: 1em;
	line-height: 1em;
}

	#footer ul.menu li
	{
		display: inline-block;
		border-left: solid 1px rgba(128,128,128,0.2);
		padding-left: 1.25em;
		margin-left: 1.25em;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	#footer ul.menu li:first-child
	{
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	}


@media (max-width: 360px){
	.jumbotron .btn { 
		display:none;
	}
}