.nav a{
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li{
	display: inline;
}

.jumbotron{
	background:#181015 url(../imgs/bg.jpg) no-repeat;
	background-size: cover;
	height: 500px;
	text-align: center;
}

.jumbotron .container{
	position: relative;
	top: 80px;
}

.jumbotron h1{
	color: #fff;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p{
	font-size: 20px;
	color: #fff;
	
}

.jumbotron a{
	font-size: 18px;
	color: blue;
}

.jumbotron img.img-circle{
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 9px solid rgba(0,0,0, 0.05);
	margin: 0 auto;
}

.jumbotron .btn { 
	margin-bottom:10px;

	}
.jumbotron .btn-default { 
	text-shadow: none; 
	background:transparent; 
	color:rgba(255,255,255,.5); 
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); 
	background: transparent; }
.jumbotron .btn-default:hover, .jumbotron .btn-default:focus { 
	color:rgba(255,255,255,.8); 
	-webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	-moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); 
	background: transparent; }
.jumbotron .btn-default:active, .jumbotron .btn-default.active { 
	color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; 
	-moz-box-shadow:inset 0px 0px 0px 3px #fff; 
	box-shadow:inset 0px 0px 0px 3px #fff; 
	background: transparent; }


.mainarea{
	
}

.mainarea h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.mainarea a {
	color: #00b0ff;
}

.mainarea2{
	
}

.mainarea2 h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.mainarea2 a {
	color: #00b0ff;
}

@media (max-width: 360px){
	.jumbotron .btn { 
		display:none;
	}
}